.field {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url('../../assets/img/board.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card-stack {
    position: relative;
    img {
        position: absolute;
        width: 12rem;
    }
}

.top-card {
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.05) translateY(-10px);
}
}

.played-card {
    right: 2rem;
    transform: scale(1.1) translateX(16rem) translateY(-15rem) rotate(-15deg);
}

.pick-card {
    animation: pick-card-animation 1s ease-in-out;
    transform: scale(1.1) translateX(16rem) translateY(-15rem) rotate(-15deg);
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1);
    }   
    40% {
        transform: scale(1.5);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1.1) translateX(16rem) translateY(-15rem) rotate(-15deg);
    }
}

.player-position {
    position: absolute;
    right: 0;
    z-index: 1;
}

.btn-add {
    position: absolute;
    right: 3rem;
    bottom: 3rem;

    &:hover {
        transform: scale(1.1);
        background-color: #b6b4b4;
    }
}

.pin-bottom {
    position: absolute;
    bottom: 2rem;
    left: 10vw;
    right: 10vw;
}

@media (max-width: 440px) {
    .card-stack {
        img {
            width: 8rem;
            max-width: 40vw;
        }
    }

    .top-card {
       &:hover {
            transform: unset;
    }
    }

    .played-card {
        transform: scale(1.1) translateX(8rem) translateY(-13rem) rotate(-15deg);
    }
    
    .pick-card {
        transform: scale(1.1) translateX(8rem) translateY(-13rem) rotate(-15deg);
    }

    @keyframes pick-card-animation {
        0% {
            transform: scale(1);
        }   
        40% {
            transform: scale(1.2);
        }
        50% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1.1) translateX(8rem) translateY(-13rem) rotate(-15deg);
        }
    }

    .btn-add {
        left: 1rem;
        top: 1rem;
    }

 


}